.html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.jumbotron {
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
}

.header {
    background-color: #333;
}

.nav {
    text-align: right;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;    
    padding: 20px 0;
}

.nav li {
    color: #fff;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-right: 25px;
    text-transform: uppercase;
}

.main {
    position: relative;
    top: 180px;    
}

.main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    
}

.text-container {
    width: 600px;
    margin: 0 auto;
    padding: 0 10px;    
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 0;
}


#title{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 30px; 
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: right;
}

.footer p {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-right: 25px;
}
